<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/about']" routerDirection="back">
        <ion-icon name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Références bibliographiques</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>
      rdos
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <div>
      <p>
        Un score de RDOS ≥ 4 prédit une dyspnée modérée à sévère avec une sensibilité de 97% et une spécificité de 80%
        (AUC courbe ROC : 0.948). Dans cette étude, les catégories de dyspnée sont déterminées par l’IDE. Les
        patient(e)s
        ne sont pas sollicité(e)s. Les IDE sont qualifiées expertes dans l’évaluation de la dyspnée en soins palliatifs.
      </p>
      <p class="src">
        (Campbell ML, et al. Intensity cut-points for the Respiratory Distress Observation Scale. Palliat
        Med. 2015;29:436-42.)
      </p>
    </div>
  </ion-item>
  <ion-item lines="none">
    <div>
      <p>
        Un score de RDOS ≥ 4 prédit dyspnée modérée à sévère avec une sensibilité de 36% et une spécificité de 94% (AUC
        courbe ROC : 0.795). Les catégories de dyspnée sont déterminées par les patient(e)s eux(elles)-même.
      </p>
      <p class="src">
        (Campbell ML, et al. Mild, moderate, and severe intensity cut-points for the Respiratory Distress Observation
        Scale. Heart Lung. 2017;46:14-17.)
      </p>
    </div>
  </ion-item>
  <ion-item-divider>
    <ion-label>
      ic-rdos
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <div>
      <p>
        La valeur seuil retenue pour fortement suspecter une dyspnée significative EVA-Dyspnée ≥ 4, est IC-RDOS ≥ 2,4.
        La dyspnée est évaluée par les patient(e)s au moyen d’une échelle visuelle analogique (EVA-Dyspnée) allant de 0
        (pas de dyspnée) à 10cm (dyspnée maximale imaginable).
      </p>
      <p class="src">
        (Persichini R, et al. Diagnostic Accuracy of Respiratory Distress Observation Scales as Surrogates of Dyspnea
        Self-report in Intensive Care Unit Patients. Anesthesiology. 2015;123:830-37.)
      </p>
    </div>
  </ion-item>
  <ion-item-divider>
    <ion-label>
      mv-rdos
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <div>
      <p>
        La valeur seuil retenue pour fortement suspecter une dyspnée significative EVA-Dyspnée ≥ 4, est IC-RDOS ≥ 2,6.
        La dyspnée est évaluée par les patient(e)s au moyen d’une échelle visuelle analogique (EVA-Dyspnée) allant de 0
        (pas de dyspnée) à 10cm (dyspnée maximale imaginable).
      </p>
      <p class="src">
        (Decavèle M, et al. The Mechanical Ventilation-Respiratory Distress Observation Scale as a surrogate of
        selfreported dyspnoea in intubated patients. Eur Respir J 2018; 52.)
      </p>
    </div>
  </ion-item>
</ion-content>
