<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/about']" routerDirection="back">
        <ion-icon name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title translate>Biblio.Biblio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>
      rdos
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <div>
      <p translate>Biblio.RDOS.quote1</p>
      <p class="src" translate>Biblio.RDOS.src1</p>
    </div>
  </ion-item>
  <ion-item lines="none">
    <div>
      <p translate>Biblio.RDOS.quote2</p>
      <p class="src" translate>Biblio.RDOS.src2</p>
    </div>
  </ion-item>
  <ion-item-divider>
    <ion-label>
      ic-rdos
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <div>
      <p translate>Biblio.IC-RDOS.quote</p>
      <p class="src" translate>Biblio.IC-RDOS.src</p>
    </div>
  </ion-item>
  <ion-item-divider>
    <ion-label>
      mv-rdos
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <div>
      <p translate>Biblio.MV-RDOS.quote</p>
      <p class="src" translate>Biblio.MV-RDOS.src</p>
    </div>
  </ion-item>
</ion-content>
