<ion-content>
  <div class="ion-padding">
    <h2 translate>Form.Result</h2>
    <div class="score ion-margin-top" [ngClass]="score >= form.treshold ? 'error' : 'success'">
      <span class="value">{{ score }}</span>
    </div>
    <ng-container *ngFor="let statement of form.statements">
      <p>{{ statement.quote | translate}}</p>
      <p class="src" [innerHTML]="statement.src | translate"></p>
    </ng-container>
    <ion-button [routerLink]="['/']" routerDirection="back" color="light" expand="block" class="ion-margin-top"
      (click)="dismiss()" translate>
      Form.Back
    </ion-button>
  </div>
</ion-content>