<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/']" routerDirection="back">
        <ion-icon name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title translate>About.Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label translate>About.Language</ion-label>
  </ion-item-divider>
  <ion-list>
    <ion-radio-group [(ngModel)]="selectedLanguage" (ionChange)="updateLanguage()">
      <ion-item *ngFor="let language of languages">
        <ion-label>{{ language.label }}</ion-label>
        <ion-radio slot="start" [value]="language.code">
        </ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-item-divider>
    <ion-label translate>About.About</ion-label>
  </ion-item-divider>
  <ion-item>
    <p translate>About.Desc</p>
  </ion-item>
  <ion-item-divider>
    <ion-label [innerHTML]="'About.Disclaimer' | translate"></ion-label>
  </ion-item-divider>
  <ion-item>
    <p [innerHTML]="'About.DisclaimerText' | translate"></p>
  </ion-item>
  <ion-item-divider>
    <ion-label translate>About.Usage</ion-label>
  </ion-item-divider>
  <ion-item>
    <p [innerHTML]="'About.UsageText' | translate"></p>
  </ion-item>
  <ion-item-divider>
    <ion-label translate>About.Limits</ion-label>
  </ion-item-divider>
  <ion-item>
    <p [innerHTML]="'About.LimitsText' | translate"></p>
  </ion-item>
  <ion-item-divider>
    <ion-label translate>About.MedicalDisclaimer</ion-label>
  </ion-item-divider>
  <ion-item>
    <p translate>About.MedicalDisclaimerText</p>
  </ion-item>
  <ion-item [routerLink]="['/biblio']">
    <span class="link" translate>Biblio.Biblio</span>
  </ion-item>
  <ion-item [routerLink]="['/contact']">
    <span class="link" translate>Contact.Contact</span>
  </ion-item>
</ion-content>
