<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/about']" routerDirection="back">
        <ion-icon name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider></ion-item-divider>
  <ion-item lines="none">
    <div>
      <p>
        <strong>Dr Maxens Decavèle</strong>
      </p>
      <p>
        Unité Fonctionnelle de Médecine Intensive et Réanimation
        Service de Pneumologie, Médecine Intensive et Réanimation - SPMIR
        Département R3S - Bâtiment EOLE
      </p>
      <strong>
        Groupe Hospitalier Pitié-Salpêtrière Charles Foix, 47-83 BD de l'Hôpital,75651 Paris Cedex 13,
        France
      </strong>
      <p>
        Mail : <strong><a href="mailto:maxens.decavele@aphp.fr">maxens.decavele@aphp.fr</a></strong>
      </p>
    </div>
  </ion-item>
  <ion-item-divider></ion-item-divider>
  <ion-item lines="none">
    <div>
      <p>
        <strong>Sorbonne Université - INSERM UMR_S 1158</strong>
      </p>
      <p>
        Neurophysiologie Respiratoire Expérimentale et clinique
      </p>
      <p>
        Bureau : <strong><a href="tel:+331 42 17 81 84">+331 42 17 81 84</a></strong><br>
        Fax : <strong><a href="tel:+331 42 16 78 08">+331 42 16 78 08</a></strong>
      </p>
    </div>
  </ion-item>
</ion-content>
