<ion-content>
  <div class="ion-padding">
    <div class="settings">
      <a [routerLink]="['/about']">
        <ion-icon name="settings-sharp" size="large" color="dark"></ion-icon>
      </a>
    </div>
    <h1>DOS-calc</h1>
    <p class="ion-margin-bottom" [innerHTML]="'Description' | translate"></p>
    <ion-button strong="true" expand="block" [routerLink]="['/rdos']" color="rdos" class="ion-margin-top">
      {{ 'RDOS' | translate}}
    </ion-button>
    <ion-button strong="true" expand="block" [routerLink]="['/ic-rdos']" color="ic-rdos" class="ion-margin-top">
      {{ 'IC-RDOS' | translate}}
    </ion-button>
    <ion-button strong="true" expand="block" [routerLink]="['/mv-rdos']" color="mv-rdos" class="ion-margin-top">
      {{ 'MV-RDOS' | translate}}
    </ion-button>
  </div>
</ion-content>
