<ion-content>
  <div class="ion-padding">
    <h1>RDOS-calc</h1>
    <p>RDOS-calc est une <strong>application d'aide à la décision clinique en pneumologie/réanimation</strong>,
      elle ne se substitue pas au jugement clinique du praticien.</p>
    <ion-button expand="block" [routerLink]="['/rdos']">RDOS : Soins palliatifs</ion-button>
    <ion-button expand="block" [routerLink]="['/ic-rdos']">IC-RDOS : réa non intubé</ion-button>
    <ion-button expand="block" [routerLink]="['/mv-rdos']">MV-RDOS : réa intubé</ion-button>
  </div>
</ion-content>
